<template>
    <div class="addgoods">
        <MBX></MBX>
        <!-- 主体 -->
        <el-alert
            title="添加商品信息"
            style="margin:20px 0px;"
            type="info"
            center
            show-icon
        >
        </el-alert>
        <!-- 步骤图 -->
        <el-steps :active="tabIndex" finish-status="success" align-center>
            <el-step title="基本信息"></el-step>
            <el-step title="商品参数"></el-step>
            <el-step title="商品属性"></el-step>
            <el-step title="商品图片"></el-step>
            <el-step title="商品内容"></el-step>
        </el-steps>
        <!-- 添加商品信息 -->
        <el-tabs
            tab-position="left"
            style="height: auto;"
            @tab-click="openMess"
        >
            <el-tab-pane label="基本信息">
                <el-form
                    :model="addShops"
                    ref="ruleForm"
                    label-width="100px"
                    class="demo-ruleForm"
                >
                    <el-form-item label="商品名称" prop="name">
                        <el-input v-model="addShops.goods_name"></el-input>
                    </el-form-item>
                    <el-form-item label="商品价格" prop="region">
                        <el-input v-model="addShops.goods_price"></el-input>
                    </el-form-item>
                    <el-form-item label="商品重量" prop="date1">
                        <el-input v-model="addShops.goods_weight"></el-input>
                    </el-form-item>
                    <el-form-item label="商品数量" prop="date2">
                        <el-input v-model="addShops.goods_number"></el-input>
                    </el-form-item>
                    <el-form-item label="商品分类">
                        <el-cascader
                            style="width:240px"
                            :props="defaultParams"
                            :options="options"
                            v-model="selectedOptions"
                            @change="handleChange"
                        ></el-cascader>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="商品参数">
                <label
                    v-show="selectedOptions.length > 1"
                    v-for="(_item, index) in kong"
                    :key="_item.attr_id"
                >
                    <span
                        style="display:block;font-size:13.5px;margin:10px 0px"
                        >{{ _item.attr_name }}</span
                    >
                    <br />
                    <el-checkbox
                        :value="true"
                        :label="__item"
                        border
                        v-for="(__item, __index) in _item.attr_vals.split(',')"
                        :key="__item.attr_id"
                        @change="handchange(index, __index)"
                    >
                    </el-checkbox>
                    <br />
                </label>
            </el-tab-pane>
            <el-tab-pane label="商品属性">
                <label
                    v-for="(item, index) in shopsAttr"
                    :key="item.attr_id"
                    style="font-size:13.5px;display:block;margin:20px 0px"
                >
                    <span style="display:inline-block;margin:10px 0px">{{
                        item.attr_name
                    }}</span>
                    <el-input
                        v-model="item.attr_vals"
                        @blur="calbe(item, index)"
                    ></el-input>
                </label>
            </el-tab-pane>
            <el-tab-pane label="商品图片">
                <el-upload
                    class="upload-demo"
                    :headers="{ Authorization: $store.state.usermsg.token }"
                    :action="'http://localhost:8889/api/private/v1/' + 'upload'"
                    :on-success="handlePreview"
                    :on-remove="handleRemove"
                    :file-list="fileList"
                    list-type="picture"
                >
                    <el-button size="small" type="primary">点击上传</el-button>
                </el-upload>
            </el-tab-pane>
            <el-tab-pane label="商品内容">
                <quill-editor
                    ref="myQuillEditor"
                    v-model="content"
                    :options="editorOption"
                />
                <el-button type="primary" @click="addEdit">确认添加</el-button>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script>
import MBX from "@/components/mbx.vue";
export default {
    name: "",
    data() {
        return {
            tabIndex: 1,
            addShops: {
                //添加的数据
                goods_name: "",
                goods_cat: "",
                goods_price: "",
                goods_number: "",
                goods_weight: "",
                goods_introduce: "",
                pics: [],
                attrs: [],
            },
            options: [], //select数据
            selectedOptions: [],
            defaultParams: {
                label: "cat_name",
                value: "cat_id",
                children: "children",
            },
            kong: [], //商品参数
            shopsAttr: [], //商品属性
            fileList: [], //图片回显
            content: "哈喽哈喽",
            editorOption: {
                // Some Quill options...
            },
        };
    },
    computed: {
        editor() {
            return this.$refs.myQuillEditor.quill;
        },
    },
    methods: {
        openMess(tab) {
            if (this.selectedOptions?.length < 1 && tab._uid > 58) {
                this.$message.error("请选择商品的三级分类");
            } else {
                this.tabIndex = parseInt(tab.index) + 1;
                if (tab._uid == 87) {
                    this.$http("categories/" + this.id + "/attributes", "GET", {
                        sel: "many",
                    }).then((res) => {
                        this.kong = res.data;
                    });
                } else if (tab._uid == 88) {
                    this.$http("categories/" + this.id + "/attributes", "GET", {
                        sel: "only",
                    }).then((res) => {
                        this.shopsAttr = res.data;
                    });
                }
            }
        },
        addEdit() {
            this.addShops.attrs = [];
            //确认添加商品
            var str = "";
            for (let i = 0; i < this.selectedOptions.length; i++) {
                str += this.selectedOptions[i] + ",";
            }
            if (str.length > 0) {
                str = str.substr(0, str.length - 1);
            }
            this.addShops.goods_cat = str;
            this.shopsAttr.forEach((v, k) => {
                let objshop = {};
                objshop.attr_id = v.attr_id;
                objshop.attr_value = v.attr_vals;
                this.addShops.attrs.push(objshop);
            });
            this.kong.forEach((v, k) => {
                let objVals = {};
                objVals.attr_id = v.attr_id;
                objVals.attr_value = v.attr_vals;
                this.addShops.attrs.push(objVals);
            });
            this.addShops.attrs.reverse();
            this.addShops.goods_introduce = this.content
            if (
                this.addShops.goods_name &&
                this.addShops.goods_cat &&
                this.addShops.goods_price &&
                this.addShops.goods_number &&
                this.addShops.goods_weight
            ) {
                this.$http("goods", "POST", {}, this.addShops).then((res) => {
                    console.log(res.data);
                    this.$router.push({ name: "goods" });
                });
            }
        },
        handleChange(val) {
            this.id = val[val.length - 1];
        },
        handchange(index, _index) {
            let shu = [...this.kong[index].attr_vals.split(",")];
            shu.splice(_index, 1);
            this.kong[index].attr_vals = shu.join();
        },
        calbe(val, index) {
            this.shopsAttr[index].attr_value = val.attr_vals;
        },
        handleRemove(file) {
            this.fileList.forEach((v, k) => {
                if (v.uid === file.uid) {
                    this.fileList.splice(k, 1);
                }
            });
        },
        handlePreview(file) {
            let img = {};
            img.name = file.data.tmp_path;
            img.url = "http://localhost:8889/" + file.data.tmp_path;
            this.fileList.push(img);
            let src = {};
            src.pic = img.url;
            this.addShops.pics.push(src);
        },
    },
    mounted() {
        this.$http("categories", "GET", { type: 3 }).then((res) => {
            this.options = res.data;
        });
    },
    components: {
        MBX,
    },
};
</script>
<style lang="scss" scoped>
.addgoods {
    height: 200vh;
}
.addgoods ::v-deep .el-step__icon-inner {
    color: #67c23a;
}
.el-form-item {
    margin: 20px 0px;
}
</style>
