<template>
    <div class="categories">
        <MBX></MBX>
        <!-- 添加角色 -->
        <el-button
            @click="dialogVisibleadd = true"
            type="success"
            plain
            style="margin: 10px 10px 10px 0px"
            >添加分类</el-button
        >
        <!-- tab -->
        <el-table :data="tableData" style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form
                        label-position="left"
                        inline
                        class="demo-table-expand"
                    >
                        <el-form-item v-if="props.row.children">
                            <el-table
                                :data="props.row.children"
                                style="width: 100%;"
                            >
                                <el-table-column
                                    type="expand"
                                    style="width:20%"
                                >
                                    <template slot-scope="props">
                                        <el-form
                                            label-position="left"
                                            inline
                                            class="demo-table-expand"
                                        >
                                            <el-form-item
                                                width="200px"
                                                v-if="props.row.children"
                                            >
                                                <el-table
                                                    :data="props.row.children"
                                                    style="width: 100%;"
                                                >
                                                    <el-table-column
                                                        type="expand"
                                                        style="width:0%"
                                                    >
                                                        <template
                                                            slot-scope="props"
                                                        >
                                                            <el-form
                                                                label-position="left"
                                                                inline
                                                                class="demo-table-expand"
                                                            >
                                                                <el-form-item
                                                                    width="200px"
                                                                    v-if="
                                                                        props
                                                                            .row
                                                                            .children
                                                                    "
                                                                >
                                                                </el-form-item>
                                                            </el-form>
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        prop="cat_name"
                                                        style="width:20%"
                                                    >
                                                    </el-table-column>
                                                    <el-table-column
                                                        prop="cat_level"
                                                        style="width:20%"
                                                    >
                                                        三级
                                                    </el-table-column>
                                                    <el-table-column
                                                        prop="cat_deleted"
                                                        style="width:20%"
                                                    >
                                                        <template
                                                            slot-scope="scope"
                                                        >
                                                            <span
                                                                v-if="
                                                                    scope.row
                                                                        .cat_deleted
                                                                "
                                                                >无效</span
                                                            >
                                                            <span v-else
                                                                >有效</span
                                                            >
                                                        </template>
                                                    </el-table-column>
                                                    <el-table-column
                                                        prop="desc"
                                                        style="width:20%"
                                                    >
                                                    </el-table-column>
                                                </el-table>
                                            </el-form-item>
                                        </el-form>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                    prop="cat_name"
                                    style="width:20%"
                                >
                                </el-table-column>
                                <el-table-column
                                    prop="cat_level"
                                    style="width:20%"
                                >
                                    二级
                                </el-table-column>
                                <el-table-column
                                    prop="cat_deleted"
                                    style="width:20%"
                                >
                                    <template slot-scope="scope">
                                        <span v-if="scope.row.cat_deleted"
                                            >无效</span
                                        >
                                        <span v-else>有效</span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="desc" style="width:20%">
                                </el-table-column>
                            </el-table>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column label="分类名称" prop="cat_name">
            </el-table-column>
            <el-table-column label="级别" prop="cat_level">
                一级
            </el-table-column>
            <el-table-column label="是否有效" prop="cat_deleted">
                <template slot-scope="scope">
                    <span v-if="scope.row.cat_deleted">无效</span>
                    <span v-else>有效</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" prop="desc">
                <template slot-scope="scope">
                    <i
                        class="el-icon-edit"
                        style="color: #409eff; border: 1px solid #409eff"
                        @click="address(scope.row)"
                    ></i>
                    <i
                        class="el-icon-delete"
                        style="color: #f56c6c; border: 1px solid #f56c6c"
                        @click="delress(scope.row)"
                    >
                    </i>
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pagenum"
            :page-sizes="[1, 3, 5, 10]"
            :page-size="pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
            :pager-count="5"
        >
        </el-pagination>
        <!-- 修改商品分类 -->
        <el-dialog
            title="修改商品分类"
            :visible.sync="dialogVisibleress"
            width="50%"
            :before-close="handleClose"
            class="dialog-header"
        >
            <el-input v-model="ressname"> </el-input>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleress = false">取 消</el-button>
                <el-button type="primary" @click="ressEdit">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 添加角色分类 -->
        <el-dialog
            title="添加商品分类"
            :visible.sync="dialogVisibleadd"
            width="50%"
            :before-close="handleClose"
            class="dialog-header"
        >
            <div
                class="dialog-bodyer"
                style="display:flex;flex-direction:column"
            >
                <label for="">
                    分类名称
                    <el-input style="width:90%" v-model="addres.cat_name">
                    </el-input>
                </label>
                <label for="" style="margin:20px 0px;width:320px">
                    分类
                    <el-cascader
                        style="width:240px;"
                        :props="defaultParams"
                        :options="options"
                        v-model="selectedOptions"
                        @change="handleChange"
                    ></el-cascader>
                </label>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleadd = false">取 消</el-button>
                <el-button type="primary" @click="addEdit">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import MBX from "@/components/mbx.vue";
export default {
    name: "categories",
    data() {
        return {
            tableData: [], //tab
            pagenum: 1,
            pagesize: 10,
            total: 5,
            ressname: "", //修改分类名
            dialogVisibleress: false,
            cat_id: "", //修改分类id
            dialogVisibleadd: false, //添加分类
            defaultParams: {
                label: "cat_name",
                value: "cat_id",
                children: "children",
            },
            options: [],
            selectedOptions: [],
            addres: {
                cat_pid: "",
                cat_name: "",
                cat_level: "",
            },
        };
    },
    components: {
        MBX,
    },
    methods: {
        catList() {
            return this.$http("categories", "GET", {
                type: 3,
                pagenum: this.pagenum,
                pagesize: this.pagesize,
            }).then((res) => {
                this.tableData = res.data.result;
                this.total = res.data.total;
            });
        },
        handleClose(done) {
            done();
        },
        handleSizeChange(val) {
            this.pagenum = 1;
            this.pagesize = val;
            this.catList();
        },
        handleCurrentChange(val) {
            this.pagenum = val;
            this.catList();
        },
        address(val) {
            //修改商品
            this.dialogVisibleress = true;
            this.ressname = val.cat_name;
            this.cat_id = val.cat_id;
        },
        ressEdit() {
            //确认修改
            this.dialogVisibleress = false;
            this.$http(
                "categories/" + this.cat_id,
                "PUT",
                {},
                {
                    cat_name: this.ressname,
                }
            ).then((res) => {
                this.catList();
            });
        },
        delress(val) {
            this.$confirm("是否删除改用户?", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning",
            })
                .then(() => {
                    this.$http("categories/" + val.cat_id, "DELETE").then(
                        (res) => {
                            this.$message({
                                type: "success",
                                message: "删除成功!!!",
                            });
                            this.catList();
                        }
                    );
                })
                .catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除",
                    });
                });
        },
        handleChange(val) {
            this.addres.cat_pid = val[val.length - 1];
            this.addres.cat_level = val.length;
        },
        addEdit() {
            this.dialogVisibleadd = false;
            this.$http("categories", "POST", {}, this.addres).then((res) => {
                this.catList();
            });
        },
    },
    mounted() {
        this.catList();
        this.$http("categories", "GET", {
            type: 2,
        }).then((res) => {
            this.options = res.data;
        });
    },
};
</script>

<style scoped lang="scss">
.categories {
    height: 120vh;
    overflow: auto;
}
.demo-table-expand {
    font-size: 0;
}
.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}
.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}
.categories ::v-deep .el-table__header-wrapper {
    height: 0px;
}
.categories ::v-deep .el-table__expanded-cell {
    padding: 0px 20px;
}
.categories ::v-deep .el-form-item[data-v-a7cd8494] {
    width: 100%;
}
.categories ::v-deep .el-form-item__content {
    width: 100%;
}
.categories ::v-deep .el-table_3_column_11 {
    display: none;
}
</style>
