<template>
    <div class="goods">
        <MBX></MBX>
        <!-- 搜索区 -->
        <div class="sear">
            <el-input
                placeholder="请输入内容"
                v-model="search"
                class="input-with-select"
                style="width:65%"
            >
                <el-button
                    slot="append"
                    @click="look"
                    icon="el-icon-search"
                ></el-button>
            </el-input>
            <el-button @click="routerSkip" type="success">添加商品</el-button>
        </div>
        <!-- 商品列表区 -->
        <el-table :data="tableData" style="width: 100%" border>
            <el-table-column label="#" type="index"></el-table-column>
            <el-table-column
                prop="goods_name"
                label="商品名称"
                width="700px"
                align="left"
            >
            </el-table-column>
            <el-table-column prop="goods_price" label="商品价格(元)">
            </el-table-column>
            <el-table-column prop="goods_weight" label="商品重量">
            </el-table-column>
            <el-table-column label="创建日期" :formatter="dateFormat">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <i
                        class="el-icon-edit"
                        style="color:#409EFF;border:1px solid #409EFF;"
                        @click="chg(scope.row)"
                    ></i>
                    <i
                        class="el-icon-delete"
                        style="color:#F56C6C;border:1px solid #F56C6C"
                        @click="dels(scope.row)"
                    ></i>
                </template>
            </el-table-column>
        </el-table>
        <!-- 分页区 -->
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="shopspar.pagenum"
            :page-sizes="[1, 3, 5, 10]"
            :page-size="shopspar.pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total ? total : tableData.length"
        >
        </el-pagination>
        <!-- 修改商品 -->
        <el-dialog
            title="修改商品"
            :visible.sync="dialogVisiblechg"
            width="30%"
            :before-close="handleClose"
        >
            <label for="">
                商品名称
                <el-input v-model="chgshops.goods_name"> </el-input>
            </label>
            <label for="">
                商品价格
                <el-input v-model="chgshops.goods_price"> </el-input>
            </label>
            <label for="">
                商品数量
                <el-input v-model="chgshops.goods_number"> </el-input>
            </label>
            <label for="">
                商品重量
                <el-input v-model="chgshops.goods_weight"> </el-input>
            </label>
            <label for="">
                商品参数
                <el-input v-model="chgshops.goods_cat"> </el-input>
            </label>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisiblechg = false">取 消</el-button>
                <el-button type="primary" @click="editshop">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
import dayjs from "dayjs";
import MBX from "../components/mbx.vue";
export default {
    name: "goods",
    data() {
        return {
            dialogVisiblechg: false, //修改
            search: "", //搜索
            tableData: [],
            shopspar: {
                query: "",
                pagenum: 1, //当前页码
                pagesize: 10, //每页条数
            },
            total: "", //总数据
            chgid: "", //修改商品id
            chgshops: {
                //修改商品
                goods_id: "",
                goods_name: "",
                goods_price: "",
                goods_number: "",
                goods_weight: "",
                goods_cat: "",
                pics: {},
                attrs: [],
            },
        };
    },
    methods: {
        look() {
            //搜索
            if (this.search)
                this.goodslist(
                    this.search,
                    this.shopspar.pagenum,
                    this.shopspar.pagesize
                );
        },
        goodslist(id, num, size) {
            //商品列表
            return this.$http("goods", "GET", {
                query: id,
                pagenum: num,
                pagesize: size,
            }).then((res) => {
                this.tableData = res.data.goods;
                this.total = res.data.total;
            });
        },
        handleClose(dong) {
            dong();
        },
        handleSizeChange(val) {
            this.shopspar.pagenum = 1;
            this.shopspar.pagesize = val;
            this.goodslist("", this.shopspar.pagenum, val);
        },
        handleCurrentChange(val) {
            this.shopspar.pagenum = val;
            this.goodslist("", val, this.shopspar.pagesize);
        },
        chg(row) {
            //点击修改商品信息
            this.dialogVisiblechg = true;
            this.$http("goods/" + row.goods_id, "GET").then((res) => {
                this.chgshops.goods_id = res.data.goods_id;
                this.chgshops.goods_name = res.data.goods_name;
                this.chgshops.goods_price = res.data.goods_price;
                this.chgshops.goods_number = res.data.goods_number;
                this.chgshops.goods_weight = res.data.goods_weight;
                this.chgshops.goods_cat = res.data.goods_cat;
            });
        },
        editshop() {
            //确认修改商品信息
            this.dialogVisiblechg = false;
            this.$http(
                "goods/" + this.chgshops.goods_id,
                "put",
                {},
                this.chgshops
            ).then((res) => {
                this.goodslist(
                    "",
                    this.shopspar.pagenum,
                    this.shopspar.pagesize
                );
            });
        },
        dateFormat(row) {
            //转化时间戳
            return dayjs(row.add_time).format("YYYY-MM-DD");
        },
        routerSkip() {
            this.$router.push({ name: "addgoods" });
        },
        dels(vals) {
            this.$confirm("是否删除改用户?", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning",
            })
                .then(() => {
                    this.$http("goods/" + vals.goods_id, "DELETE").then(
                        (res) => {
                            this.$message({
                                type: "success",
                                message: "删除成功!!!",
                            });
                            this.goodslist("", 1, 10);
                        }
                    );
                })
                .catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除",
                    });
                });
        },
    },
    mounted() {
        this.goodslist("", 1, 10)
    },
    components: {
        MBX,
    },
};
</script>
<style lang="scss" scoped>
.goods {
    height: 200vh;
    overflow: auto;
    .sear {
        width: 360px;
        height: 40px;
        margin: 15px 0px;
        display: flex;
        justify-content: space-between;
    }
}
</style>
