<template>
    <div class="home">
        <el-container>
            <!-- 菜单权限 -->
            <el-aside style="width:auto">
                <el-row class="tac">
                    <el-col
                        :span="24"
                        style="display:flex;flex-direction: column;"
                    >
                        <h6>后台管理</h6>
                        <el-menu
                            :default-active="defaultActive"
                            class="el-menu-vertical-demo"
                            background-color="rgb(0, 21, 41)"
                            text-color="#909399"
                            active-text-color="#fff"
                            :unique-opened="true"
                            :collapse="isCollapse"
                        >
                            <el-submenu
                                :index="item.order + ''"
                                v-for="(item, indexf) in this.$store.state
                                    .permsg"
                                :key="indexf"
                                v-show="item.children && item.children.length"
                            >
                                <template slot="title">
                                    <i
                                        class="el-icon-user-solid"
                                        v-if="indexf == 0"
                                    ></i>
                                    <i
                                        class="el-icon-more"
                                        v-if="indexf == 1"
                                    ></i>
                                    <i
                                        class="el-icon-s-goods"
                                        v-if="indexf == 2"
                                    ></i>
                                    <i
                                        class="el-icon-s-order"
                                        v-if="indexf == 3"
                                    ></i>
                                    <i
                                        class="el-icon-s-data"
                                        v-if="indexf == 4"
                                    ></i>

                                    <span>{{ item.authName }}</span>
                                </template>
                                <el-menu-item
                                    @click="skip(item.authName,items.path)"
                                    :index="items.path"
                                    v-for="(items, ks) in item.children"
                                    :key="ks"
                                >
                                    {{ items.authName }}
                                </el-menu-item>
                            </el-submenu>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-aside>
            <el-container>
                <el-header>
                    <el-row>
                        <!-- 控制左侧导航菜单的展开与收起 -->
                        <el-col :span="2" style="line-height:76px">
                            <el-radio-group
                                v-model="isCollapse"
                                style="margin-bottom: 20px;"
                            >
                                <i @click="isCollapse = !isCollapse" class="el-icon-s-fold" style="font-size:22px"></i>
                            </el-radio-group>
                        </el-col>
                        <el-col :span="20">&nbsp;</el-col>
                        <!-- 退出登录 -->
                        <el-col :span="2">
                            <el-dropdown placement="bottom-start">
                                <i class="el-icon-setting"></i>
                                <el-dropdown-menu>
                                    <el-dropdown-item @click.native="logout">
                                        退出
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                            <span style="font-size:12px"
                                >&nbsp;{{
                                    this.$store.state.usermsg.username
                                }}</span
                            >
                        </el-col>
                    </el-row>
                </el-header>
                <el-main>
                    <router-view></router-view>
                </el-main>
            </el-container>
        </el-container>
    </div>
</template>
<script>
export default {
    name: "Home",
    data() {
        return {
            isCollapse: false, //是否展开
            mbx: "", //面包屑nzme
            defaultActive:'users',//路由切换保存
        };
    },
    methods: {
        logout() {
            //退出登录
            this.$store.state.usermsg = [];
            window.localStorage.removeItem("vuex");
            this.$router.push({ name: "login" });
        },
        skip(name,url) {
            //路由跳转
            this.$router.push({ name: url }).then(() => {
                this.$store.commit("mbxname", name);
            });
        },
    },
    watch:{
        '$route':{
            immediate:true,//页面第一次加载时触发
            handler(route){//自动触发事件
                this.defaultActive = route.name.toLowerCase();
            }
        }
    },
    mounted() {
        //权限菜单
        this.$store.dispatch("per", this);
    },
};
</script>
<style scoped lang="scss">
.home {
    height: 100vh;
    overflow: hidden;
    .el-header {
        background-color: #b3c0d1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }
    .el-aside {
        width: 200px;
        height: 100vh;
        background-color: #d3dce6;
        text-align: center;
        line-height: 200px;
        overflow: hidden;
        .tac {
            background-color: rgb(0, 21, 41);
            height: 100%;
            span {
                color: #a0a1a3;
            }
            h6 {
                width: 100%;
                height: 60px;
                line-height: 60px;
                font-size: 14px;
                color: #fff;
            }
            .el-submenu__title:hover {
                background-color: none;
            }
        }
    }
    .el-main {
        width: 100%;
        height: 100vh;
        overflow: auto;
    }
    body > .el-container {
        margin-bottom: 40px;
    }
    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }
    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }
}
.el-table__header-wrapper ::v-deep .el-table__header {
    text-align: center;
}
.el-table ::v-deep .el-table__header-wrapper {
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}
.home ::v-deep .el-icon-edit,
.home ::v-deep .el-icon-delete,
.home ::v-deep .el-icon-check {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
.home ::v-deep .el-icon-arrow-right,
.home ::v-deep .el-icon-arrow-left {
    color: #000;
}
.home ::v-deep .el-dialog {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.home ::v-deep .el-dialog__header {
    height: 50px;
    line-height: 70px;
    text-align: left;
}
.home ::v-deep .el-dialog__body {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    > label {
        width: 100%;
        height: 53px;
        line-height: 53px;
        display: block;
        > .el-input {
            width: 300px;
        }
    }
}
.home ::v-deep .el-dialog__footer {
    height: 80px;
    line-height: 70px;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 194px;
    min-height: 200px;
}
.home >>> .el-submenu:hover.el-submenu__title {
    background: red;
}
</style>
