<template>
    <div class="login">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span> <strong>欢迎登录</strong> </span>
            </div>
            <el-form :model="login" :rules="rules" ref="login">
                <el-form-item
                    style="margin-bottom:32px;height:32px"
                    prop="username"
                >
                    <el-input
                        placeholder="请输入用户名"
                        size="small"
                        style="marign-top:15px"
                        v-model="login.username"
                    >
                        <el-button
                            slot="prepend"
                            icon="el-icon-user-solid"
                        ></el-button>
                    </el-input>
                </el-form-item>
                <el-form-item style="margin-bottom:22px" prop="password">
                    <el-input
                        placeholder="请输入密码"
                        size="small"
                        v-model="login.password"
                    >
                        <el-button
                            slot="prepend"
                            icon="el-icon-lock"
                        ></el-button>
                    </el-input>
                </el-form-item>
                <el-form-item style="margin-bottom:12px">
                    <el-button
                        type="primary"
                        style="width:100%;"
                        size="small"
                        @click="dl('login')"
                        >登录</el-button
                    >
                </el-form-item>
            </el-form>
        </el-card>
    </div>
</template>
<script>
export default {
    data() {
        const validatePass =(rule, value, callback) =>  { //用户名规则
            var uPattern = /^[a-zA-Z0-9_-]{4,16}$/;
            if (!uPattern.test(value)) {
                callback(new Error("请输入4到16位的字符"));
            } else {
                callback();
            }
        };
        const validatePass2 = (rule, value, callback) => { //密码规则
            var uPattern = /^[0-9]{4,16}$/;
            if (!uPattern.test(value)) {
                callback(new Error("请输入4到16位的密码"));
            } else {
                callback();
            }
        };
        return {
            login: {
                username: "admin",//用户名
                password: "123456",//密码
            },
            rules: { //账号规则
                username: [
                    { validator: validatePass, trigger: "change" }
                ],
                password: [
                    { validator: validatePass2, trigger: "change" }
                ],
            },
        };
    },
    methods: {
        dl(formName) { //登录判断与接口调用
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.$http("login", "POST", {}, this.login, {}).then(
                        (res) => {
                            this.$store.commit("mymsg", res.data);
                            if(this.$route.query.redirect){
                                this.$router.push(this.$router.push)
                            }
                            this.$router.push({ name: "Home" });
                        }
                    );
                } else {
                    console.log("error submit!!!");
                    return false;
                }
            });
        },
    },
};
</script>
<style scoped lang="scss">
.login {
    width: 100%;
    height: 100vh;
    background-image: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .box-card {
        width: 300px;
        margin-right: 160px;
        border-radius: 15px;
        .errtitle {
            font-size: 12px;
            color: red;
            display: inline-block;
            margin: 7px 0px 7px 0px;
        }
    }
}
</style>
