<template>
    <div class="orders">
        <MBX></MBX>
        <!-- tab -->
        <el-table :data="tableData" border style="width: 100%;margin:10px 10px 10px 0px">
            <el-table-column label="#" type="index"></el-table-column>
            <el-table-column prop="order_number" label="订单编号">
            </el-table-column>
            <el-table-column prop="order_price" label="订单价格">
            </el-table-column>
            <el-table-column prop="pay_status" label="是否付款">
                <template slot-scope="scope">
                    <span v-if="scope.row.pay_status == 0"
                        ><el-button size="small" type="danger" plain
                            >未付款</el-button
                        ></span
                    >
                    <span v-if="scope.row.pay_status == 1"
                        ><el-button size="small" type="success" plain
                            >已付款</el-button
                        ></span
                    >
                </template>
            </el-table-column>
            <el-table-column prop="is_send" label="是否发货"> </el-table-column>
            <el-table-column label="创建日期" :formatter="dateFormat">
            </el-table-column>
            <el-table-column label="操作">
                <el-button
                    type="primary"
                    size="mini"
                    icon="el-icon-edit"
                    plain
                    @click="chgact"
                ></el-button
            ></el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pagenum"
            :page-sizes="[1, 3, 5, 10]"
            :page-size="pagesize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
            :pager-count="5"
        >
        </el-pagination>
        <!-- 修改地址 -->
        <el-dialog
            title="修改地址"
            :visible.sync="dialogVisible"
            width="50%"
            :before-close="handleClose"
            class="dialog-header"
        >
            <div
                class="dialog-bodyer"
                style="display:flex;flex-direction:column"
            >
                <label for="" style="margin:20px 0px;width:320px">
                    省市区/县
                    <el-cascader
                        style="width:240px;"
                        :props="defaultParams"
                        :options="options"
                        v-model="selectedOptions"
                    ></el-cascader>
                </label>
                <label for="">
                    角色名
                    <el-input
                        style="width:86%"
                        placeholder="请输入电话"
                        v-model="name"
                    >
                    </el-input>
                </label>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="chgEdit">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import dayjs from "dayjs";
import MBX from "@/components/mbx.vue";
export default {
    name: "orders",
    data() {
        return {
            name: "张三",
            dialogVisible: false,
            tableData: [], //tab数据
            pagenum: 1,
            pagesize: 10,
            defaultParams: {},
            options: [],
            selectedOptions: [],
            total: 5,
        };
    },
    methods: {
        ordersList() {
            this.$http("orders", "GET", {
                pagenum: this.pagenum,
                pagesize: this.pagesize,
            }).then((res) => {
                this.tableData = res.data.goods;
                this.total = res.data.total;
            });
        },
        handleClose(done) {
            done();
        },
        dateFormat(row) {
            //转化时间戳
            return dayjs(row.create_time).format("YYYY-MM-DD HH:mm:ss");
        },
        handleSizeChange(val) {
            this.pagenum = 1;
            this.pagesize = val;
            this.ordersList();
        },
        handleCurrentChange(val) {
            this.pagenum = val;
            this.ordersList();
        },
        chgact() {
            this.dialogVisible = true;
        },
        chgEdit() {
            this.dialogVisible = false;
        },
    },
    mounted() {
        this.ordersList();
    },
    components: {
        MBX,
    },
};
</script>
<style scoped lang="scss">
.orders {
    height: 100vh;
    overflow: auto;
}
.orders ::v-deep .el-button {
    width: 50px;
    height: 30px;
    padding: 0;
    \deep\ i {
        font-size: 14px;
    }
}
</style>
