<template>
    <div class="params">
        <MBX></MBX>
        <el-alert
            title="注意:只允许为第三级分类设置参数"
            type="warning"
            show-icon
            style="margin:15px 15px 15px 0px"
        >
        </el-alert>
        <!-- 分类selecet -->
        <el-cascader
            style="width:240px;"
            :props="defaultParams"
            :options="options"
            v-model="selectedOptions"
            @change="handleChange"
        ></el-cascader>
        <!-- 动静态tab -->
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="动态参数" name="first">
                <el-button
                    type="primary"
                    size="small"
                    :disabled="leng >= 3 ? false : true"
                    >设置动态参数</el-button
                >
                <el-table :data="movetableData" style="width: 100%">
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form
                                label-position="left"
                                inline
                                class="demo-table-expand"
                            >
                                <el-form-item>
                                    <el-tag
                                        v-show="props.row.attr_vals"
                                        :key="tag"
                                        v-for="(tag, index) in [
                                            ...props.row.attr_vals.split(','),
                                        ]"
                                        closable
                                        :disable-transitions="false"
                                        @close="handleClosea(props.row, index)"
                                    >
                                        {{ tag }}
                                    </el-tag>
                                    <el-input
                                        v-show="inputVisible"
                                        class="input-new-tag"
                                        v-if="inputVisible"
                                        ref="saveTagInput"
                                        size="small"
                                        @blur="handleInputConfirm(props.row)"
                                    >
                                    </el-input>
                                    <el-button
                                        v-else
                                        class="button-new-tag"
                                        size="small"
                                        @click="showInput(props.$index)"
                                        >+ New Tag</el-button
                                    >
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column label="#" type="index"> </el-table-column>
                    <el-table-column label="属性名称" prop="attr_name">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <i
                                class="el-icon-edit"
                                style="color: #409eff; border: 1px solid #409eff"
                                @click="revise(scope.row)"
                            ></i>
                            <i
                                class="el-icon-delete"
                                style="color: #f56c6c; border: 1px solid #f56c6c"
                                @click="delrev(scope.row)"
                            >
                            </i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="静态参数" name="second"
                ><el-button
                    type="primary"
                    size="small"
                    :disabled="leng >= 3 ? false : true"
                    >设置静态参数 </el-button
                ><el-table :data="calmtableData" style="width: 100%">
                    <el-table-column label="#" type="index"> </el-table-column>
                    <el-table-column label="属性名称" prop="attr_name">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <i
                                class="el-icon-edit"
                                style="color: #409eff; border: 1px solid #409eff"
                                @click="revises(scope.row)"
                            ></i>
                            <i
                                class="el-icon-delete"
                                style="color: #f56c6c; border: 1px solid #f56c6c"
                                @click="delrev(scope.row)"
                            >
                            </i>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
        </el-tabs>
        <!-- 修改分类参数 -->
        <el-dialog
            title="修改分类参数"
            :visible.sync="dialogVisiblechg"
            width="50%"
            :before-close="handleClose"
            class="dialog-header"
        >
            <label for="">
                说明
                <el-input style="width:90%" :disabled="true" v-model="rese.des">
                </el-input>
            </label>
            <label for="">
                分类
                <el-input style="width:90%" v-model="rese.fenlei"> </el-input>
            </label>
            <label for="">
                名称
                <el-input style="width:90%" v-model="rese.name"> </el-input>
            </label>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisiblechg = false">取 消</el-button>
                <el-button type="primary" @click="chgEdit">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 静态修改 -->
        <el-dialog
            title="修改分类参数"
            :visible.sync="dialogVisiblechgs"
            width="50%"
            :before-close="handleClose"
            class="dialog-header"
        >
            <label for="">
                名称
                <el-input style="width:90%" v-model="jtname"> </el-input>
            </label>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisiblechgs = false">取 消</el-button>
                <el-button type="primary" @click="chgEdits">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import MBX from "@/components/mbx.vue";
export default {
    name: "params",
    data() {
        return {
            defaultParams: {
                label: "cat_name",
                value: "cat_id",
                children: "children",
            },
            options: [],
            selectedOptions: [],
            activeName: "first",
            calmtableData: [],
            movetableData: [],
            dialogVisiblechg: false, //修改分类参数
            dialogVisiblechgs: false, //静态修改
            rese: {
                //修改分类参数
                des: "添加多个以逗号隔开",
                fenlei: "",
                name: "",
            },
            fenid: "", //修改分类id
            attr_id: "", //修改分类属性id
            kong: [], //tag
            inputVisible: false,
            inputValue: "", //
            leng: "",
            jtname: "", //静态修改分类名称
        };
    },
    components: {
        MBX,
    },
    methods: {
        parList(sel) {
            this.$http("categories/" + this.fenid + "/attributes", "GET", {
                sel: sel,
            }).then((res) => {
                if (sel == "many") {
                    this.movetableData = res.data;
                } else if (sel == "only") {
                    this.calmtableData = res.data;
                }
            });
        },
        handleChange(val) {
            this.leng = val.length;
            this.fenid = val[val.length - 1];
            this.parList("many");
            this.parList("only");
        },
        handleClose(done) {
            done();
        },
        handleClick(tab) {
            if (this.leng <= 0) {
                this.$message({
                    message: "请选择三级分类",
                    type: "warning",
                });
            }
        },
        revise(val) {
            //修改分类参数
            this.dialogVisiblechg = true;
            this.rese.fenlei = val.attr_vals;
            this.rese.name = val.attr_name;
            this.attr_id = val.attr_id;
        },
        revises(val) {
            this.fenid = val.cat_id;
            this.attr_id = val.attr_id;
            this.dialogVisiblechgs = true;
            this.jtname = val.attr_name;
        },
        chgEdits() {
            //确定分类
            this.dialogVisiblechgs = false;
            this.$http(
                "categories/" + this.fenid + "/attributes/" + this.attr_id,
                "PUT",
                {},
                {
                    attr_sel: ["only"],
                    attr_name: this.jtname,
                    attr_vals: this.rese.fenlei,
                }
            ).then((res) => {
                this.parList("many");
                this.parList("only");
            });
        },
        chgEdit() {
            //确定分类
            this.dialogVisiblechg = false;
            this.$http(
                "categories/" + this.fenid + "/attributes/" + this.attr_id,
                "PUT",
                {},
                {
                    attr_sel: ["many"],
                    attr_name: this.rese.name,
                    attr_vals: this.rese.fenlei,
                }
            ).then((res) => {
                this.parList("many");
                this.parList("only");
            });
        },
        delrev(val) {
            this.$confirm("是否删除改用户?", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning",
            })
                .then(() => {
                    this.$http(
                        "categories/" +
                            val.cat_id +
                            "/attributes/" +
                            val.attr_id,
                        "DELETE"
                    ).then((res) => {
                        this.$message({
                            type: "success",
                            message: "删除成功!!!",
                        });
                        this.parList("many");
                        this.parList("only");
                    });
                })
                .catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除",
                    });
                });
        },
        handleInputConfirm(val) {
            this.inputVisible = false
            let shu = [...val.attr_vals.split(",")];
            shu.push(this.inputValue);
            this.$http(
                "categories/" + val.cat_id + "/attributes/" + val.attr_id,
                "PUT",
                {},
                {
                    attr_sel: "many",
                    attr_name: val.attr_name,
                    attr_vals: shu.join(),
                }
            ).then((res) => {
                this.inputValue = "";
                this.parList("many");
                this.parList("only");
            });
        },
        showInput(val) {
            this.inputVisible = true
        },
        handleClosea(tag, index) {
            let shu = [...tag.attr_vals.split(",")];
            shu.splice(index, 1);
            //删除tag
            this.$http(
                "categories/" + tag.cat_id + "/attributes/" + tag.attr_id,
                "PUT",
                {},
                {
                    attr_sel: "many",
                    attr_name: tag.attr_name,
                    attr_vals: shu.join(),
                }
            ).then((res) => {
                this.parList("many");
                this.parList("only");
            });
        },
    },
    mounted() {
        this.$http("categories", "GET", {
            type: 3,
        }).then((res) => {
            this.options = res.data;
        });
    },
};
</script>
<style scoped lang="scss">
.params {
    height: 200vh;
    overflow: auto;
}
.demo-table-expand {
    font-size: 0;
}
.demo-table-expand label {
    width: 90px;
    color: #99a9bf;
}
.demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}
</style>
