<template>
    <div id="app">
        <MBX></MBX>
        <div id="main" style="width: 900px; height: 600px"></div>
    </div>
</template>
<script>
import echarts from "echarts";
import MBX from "../components/mbx.vue";
export default {
    name: "reports",
    data() {
        return {
            legend: [],
            series: [],
            xAxis: [],
        };
    },
    methods: {
        drawLine(id) {
            this.charts = echarts.init(document.getElementById(id));
            this.charts.setOption({
                tooltip: {
                    trigger: "axis",
                    axisPointer: {
                        type: "cross",
                        label: {
                            backgroundColor: "#6a7985",
                        },
                    },
                },
                legend: {
                    data: this.legend,
                },
                toolbox: {
                    feature: {
                        saveAsImage: {},
                    },
                },
                grid: {
                    left: "3%",
                    right: "4%",
                    bottom: "3%",
                    containLabel: true,
                },
                xAxis: [
                    {
                        type: "category",
                        boundaryGap: false,
                        data: this.xAxis,
                    },
                ],
                yAxis: [
                    {
                        type: "value",
                    },
                ],
                series: this.series,
            });
        },
    },
    //调用
    mounted() {
        this.$http("reports/type/1", "GET").then((res) => {
            this.legend = res.data.legend.data;
            this.series = res.data.series;
            this.xAxis = res.data.xAxis[0].data;
            this.$nextTick(function() {
                this.drawLine("main");
            });
        });
    },
    components: {
        MBX,
    },
};
</script>
<style scoped></style>
