<template>
    <div class="rights">
        <MBX></MBX>
        <el-table
            :data="tableData"
            border
            style="width: 100%;margin:10px 10px 10px 0px"
            :default-sort="{ prop: 'level', order: 'ascending' }"
        >
            <el-table-column label="#" type="index"></el-table-column>
            <el-table-column prop="authName" label="权限名称" width="180">
            </el-table-column>
            <el-table-column prop="path" label="路径" width="180">
            </el-table-column>
            <el-table-column prop="level" label="层级">
                <template slot-scope="scope">
                    <span v-if="scope.row.level == 0">一级</span>
                    <span v-if="scope.row.level == 1">二级</span>
                    <span v-if="scope.row.level == 2">三级</span>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>

import MBX from '../components/mbx.vue'
export default {
    name: "rights",
    data() {
        return {
            tableData: [],
        };
    },
    methods: {},
    mounted() {
        this.$http("rights/list", "GET").then((res) => {
            this.tableData = res.data;
        });
    },
    components:{
        MBX
    }
};
</script>
<style scoped lass="scss">
.rights {
    height: 100vh;
    overflow: auto;
}
</style>
