<template>
    <div class="rolse">
        <MBX></MBX>
        <!-- 添加角色 -->
        <el-button
            @click="dialogVisibleadd = true"
            type="primary"
            style="margin: 10px 10px 10px 0px"
            >添加角色</el-button
        >
        <!-- tab角色列表 -->
        <el-table
            :data="$store.state.roles"
            style="width: 100%;height:110vh"
            border
        >
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form
                        label-position="left"
                        inline
                        class="demo-table-expand"
                    >
                        <el-row
                            :key="index"
                            v-for="(item, index) in props.row.children"
                        >
                            <el-col :span="3">
                                <el-tag
                                    closable
                                    :disable-transitions="false"
                                    @close="Close(item, props.row)"
                                    >{{ item.authName }}</el-tag
                                >
                            </el-col>
                            <el-col :span="21">
                                <el-row
                                    v-for="(_item, _index) in item.children"
                                    :key="_index"
                                >
                                    <el-col :span="4">
                                        <el-tag
                                            type="success"
                                            closable
                                            :disable-transitions="false"
                                            @close="Close(item, props.row)"
                                            >{{ _item.authName }}
                                        </el-tag>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-tag
                                            type="warning"
                                            :key="__index"
                                            v-for="(__item,
                                            __index) in _item.children"
                                            closable
                                            :disable-transitions="false"
                                            @close="Close(item, props.row)"
                                            >{{ __item.authName }}
                                        </el-tag>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column label="#" type="index"></el-table-column>
            <el-table-column label="角色名称" prop="roleName"></el-table-column>
            <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
            <el-table-column label="操作" prop="oper">
                <!-- 操作按钮 -->
                <template slot-scope="scope">
                    <i
                        class="el-icon-edit"
                        style="color: #409eff; border: 1px solid #409eff"
                        @click="bianji(scope.$index)"
                    ></i>
                    <i
                        class="el-icon-delete"
                        style="color: #f56c6c; border: 1px solid #f56c6c"
                        @click="delrole(scope.$index)"
                    ></i>
                    <i
                        class="el-icon-check"
                        style="color: #67c23a; border: 1px solid #67c23a"
                        @click="accr(scope.row)"
                    ></i>
                </template>
            </el-table-column>
        </el-table>
        <!-- 编辑用户 -->
        <el-dialog
            title="编辑角色"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose"
        >
            <label for="">
                角色ID
                <el-input
                    placeholder="请输入用户名"
                    v-model="edits.id"
                    :disabled="true"
                >
                </el-input>
            </label>
            <label for="">
                角色名称 &nbsp;
                <el-input placeholder="请输入电话" v-model="edits.name">
                </el-input>
            </label>
            <label for="">
                角色描述&nbsp;&nbsp;
                <el-input placeholder="请输入邮箱" v-model="edits.des">
                </el-input>
            </label>

            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="edit">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 角色授权 -->
        <el-dialog
            title="角色授权"
            :visible.sync="dialogVisibleaccr"
            width="30%"
            @close="setRightDialogClosed"
            style="height: auto"
        >
            <el-tree
                :data="data"
                show-checkbox
                default-expand-all
                ref="treeRef"
                highlight-current
                :props="defaultProps"
                :default-checked-keys="arrId"
                node-key="id"
            >
            </el-tree>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleaccr = false">取 消</el-button>
                <el-button type="primary" @click="accredit">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 添加 -->
        <el-dialog
            title="添加角色"
            :visible.sync="dialogVisibleadd"
            width="30%"
            :before-close="handleClose"
        >
            <label for="">
                角色名
                <el-input v-model="addrole.roleName"> </el-input>
            </label>
            <label for="">
                角色描述
                <el-input v-model="addrole.roleDesc"> </el-input>
            </label>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleadd = false">取 消</el-button>
                <el-button type="primary" @click="addedit">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import MBX from "@/components/mbx.vue";
export default {
    name: "roles",
    data() {
        return {
            dialogVisibleadd: false, //添加开关
            dialogVisible: false, //编辑用户开关
            dialogVisibleaccr: false,
            tableData: [],
            edits: {
                //用户编辑
                id: "",
                name: "",
                des: "",
            },
            index: "", //点击时的下标
            data: [], //编辑列表
            defaultProps: {
                children: "children",
                label: "authName",
            },
            addrole: {
                //添加角色
                roleName: "",
                roleDesc: "",
            },
            arrId: [], //权限id列表
            rolesId: "", //角色id
            rids: "", //权限id
            xin: [],
        };
    },
    methods: {
        handleClose(dong) {
            dong(); //关闭
        },
        bianji(index) {
            //打开编辑用户
            this.dialogVisible = true;
            this.index = index;
            this.edits.id = this.$store.state.roles[index].id;
            this.edits.name = this.$store.state.roles[index].roleName;
            this.edits.des = this.$store.state.roles[index].roleDesc;
        },
        edit() {
            //确定编辑用户
            this.dialogVisible = false;
            this.$http(
                "roles/" + this.$store.state.roles[this.index].id,
                "PUT",
                {},
                { roleName: this.edits.name, roleDesc: this.edits.des }
            ).then((res) => {
                this.$store.dispatch("myroles", this);
            });
        },
        delrole(index) {
            //删除
            this.$confirm("是否删除改用户?", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning",
            })
                .then(() => {
                    this.$http(
                        "roles/" + this.$store.state.roles[index].id,
                        "delete"
                    ).then((res) => {
                        this.$message({
                            type: "success",
                            message: "删除成功!!!",
                        });
                        this.$store.dispatch("myroles", this);
                    });
                })
                .catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除",
                    });
                });
        },
        getLeafKeys(node, arr) {
            // 如果当前 node 节点不包含 children 属性，则是三级节点
            if (!node.children) {
                return arr.push(node.id);
            }
            node.children.forEach((item) => this.getLeafKeys(item, arr));
        },
        accr(role) {
            //获取用户的权限列表
            this.rolesId = role.id;
            this.$http("rights/tree", "GET").then((res) => {
                this.data = res.data;
            });
        },
        chgnewId(data) {
            //遍历角色权限列表,获取所有id
            data.forEach((val, key) => {
                this.newId.push(val.id);
                if (val.children) {
                    this.chgnewId(val.children);
                }
            });
        },
        nodeClick(data) {
            //获取需要更改的权限id
            this.delid = data.id;
            if (data.children) {
                this.newId.push(data.id);
                this.chgnewId(data.children);
            } else {
                this.newId.push(data.id);
            }
        },
        handleCheckChange(val) {
            //获取所有权限id
            this.xin = this.$refs.tree
                .getCheckedKeys()
                .concat(this.$refs.tree.getHalfCheckedKeys());
        },
        accredit() {
            //确认角色授权
            let keys = [
                ...this.$refs.treeRef.getCheckedKeys(),
                ...this.$refs.treeRef.getHalfCheckedKeys(),
            ];
            var strid = keys.join(",");
            this.$http(
                "roles/" + this.rolesId + "/rights",
                "POST",
                {},
                { rids: strid }
            ).then((res) => {
                this.$store.dispatch("myroles", this);
            });
            this.dialogVisibleaccr = false;
        },
        addedit() {
            //添加角色
            this.dialogVisibleadd = false;
            if (!this.addrole.roleName) return;
            this.$http("roles", "POST", {}, this.addrole).then((res) => {
                this.$store.dispatch("myroles", this);
            });
        },
        Close(tag, row) {
            //删除角色授权
            this.$http("roles/" + row.id + "/rights/" + tag.id, "DELETE").then(
                (res) => {
                    this.$store.dispatch("myroles", this);
                }
            );
        },
        setRightDialogClosed() {
            this.arrId = [];
        },
    },
    mounted() {
        this.$store.dispatch("myroles", this);
    },
    components: {
        MBX,
    },
};
</script>
<style scoped lang="scss">
.roles {
    height: 100vh;
    overflow: auto;
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
}
.demo-table-expand ::v-deep .tagfat {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.roles ::v-deep .el-icon-edit,
.roles ::v-deep .el-icon-delete,
.roles ::v-deep .el-icon-check {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    color: #fff;
}
</style>
