<template>
    <div class="users">
        <el-main>
            <!-- 面包屑导航 -->
            <MBX></MBX>
            <!-- 搜索 -->
            <div class="sear">
                <el-input
                    placeholder="请输入内容"
                    v-model="search"
                    class="input-with-select"
                    style="width:65%"
                >
                    <el-button
                        slot="append"
                        @click="look"
                        icon="el-icon-search"
                    ></el-button>
                </el-input>
                <el-button @click="dialogVisibleadd = true" type="primary"
                    >添加用户</el-button
                >
            </div>
            <!-- tab用户数据列表 -->
            <el-table
                :data="userlist"
                border
                :header-cell-style="{
                    'background-color': '#1989fa',
                    color: '#fff',
                    padding: '0',
                    'font-weight': '400',
                }"
                align="center"
            >
                <el-table-column prop="index" type="index"> </el-table-column>
                <el-table-column prop="username" label="姓名" width="180">
                </el-table-column>
                <el-table-column prop="email" label="邮箱" width="180">
                </el-table-column>
                <el-table-column prop="mobile" label="电话" align="center">
                </el-table-column>
                <el-table-column label="创建日期" :formatter="dateFormat">
                </el-table-column>
                <el-table-column prop="mg_state" label="用户状态">
                    <template slot-scope="scope">
                        <el-switch
                            @change="switch_set(scope.$index)"
                            v-model="userlist[scope.$index].mg_state"
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                        >
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <i
                            class="el-icon-edit"
                            style="background: #409EFF;"
                            @click="huo(scope.$index)"
                        ></i>
                        <i
                            class="el-icon-delete"
                            style="background: #F56C6C;"
                            @click="deluserlist(scope.$index)"
                        ></i>
                        <i
                            class="el-icon-check"
                            style="background: #67C23A;"
                            @click="fenpei(scope.$index)"
                        ></i>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 分页 -->
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="pageNum"
                :page-sizes="[1, 3, 5, 10]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                :pager-count="5"
            >
            </el-pagination>
            <!-- 编辑用户 -->
            <el-dialog
                title="编辑用户"
                :visible.sync="dialogVisible"
                width="30%"
                :before-close="handleClose"
            >
                <label for="">
                    用户名
                    <el-input
                        placeholder="请输入用户名"
                        v-model="edits.admin"
                        :disabled="true"
                    >
                    </el-input>
                </label>
                <label for="">
                    电话 &nbsp;
                    <el-input placeholder="请输入电话" v-model="edits.phone">
                    </el-input>
                </label>
                <label for="">
                    邮箱&nbsp;&nbsp;
                    <el-input placeholder="请输入邮箱" v-model="edits.email">
                    </el-input>
                </label>

                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="edit">确 定</el-button>
                </span>
            </el-dialog>
            <!-- 分配用户 -->
            <el-dialog
                title="分配角色"
                :visible.sync="dialogVisibles"
                width="30%"
                :before-close="handleClose"
            >
                <label for="">
                    用户名
                    <el-input v-model="fenpeis.admin" :disabled="true">
                    </el-input>
                </label>
                <label for="">
                    角色&nbsp;&nbsp;&nbsp;&nbsp;
                    <el-select
                        v-model="value"
                        placeholder="请选择"
                        @change="valchg"
                    >
                        <el-option
                            v-for="item in $store.state.roles"
                            :key="item.id"
                            :label="item.roleName"
                            :value="item.id"
                        >
                        </el-option>
                    </el-select>
                </label>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisibles = false">取 消</el-button>
                    <el-button type="primary" @click="corr">确 定</el-button>
                </span>
            </el-dialog>
            <!-- 添加用户 -->
            <el-dialog
                title="添加用户"
                :visible.sync="dialogVisibleadd"
                width="30%"
                :before-close="handleClose"
            >
                <label for="">
                    用户名
                    <el-input placeholder="请输入用户名" v-model="add.admin">
                    </el-input>
                </label>
                <label for="">
                    密码
                    <el-input placeholder="请输入密码" v-model="add.password">
                    </el-input>
                </label>
                <label for="">
                    电话
                    <el-input placeholder="请输入电话" v-model="add.phone">
                    </el-input>
                </label>
                <label for="">
                    邮箱
                    <el-input placeholder="请输入邮箱\" v-model="add.email">
                    </el-input>
                </label>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisibleadd = false"
                        >取 消</el-button
                    >
                    <el-button type="primary" @click="addedit">确 定</el-button>
                </span>
            </el-dialog>
        </el-main>
    </div>
</template>

<script>
import dayjs from "dayjs";
import MBX from "@/components/mbx.vue";
export default {
    name: "users",
    data() {
        return {
            userlist: [], //用户数据列表
            pageNum: 1, //当前页码
            pageSize: 1, //显示条数
            total: 5, //显示分页数
            dialogVisible: false,
            dialogVisibles: false,
            dialogVisibleadd: false,
            edits: {
                //编辑用户信息
                admin: "",
                phone: "",
                email: "",
            },
            fenpeis: {
                //分配角色
                admin: "",
            },
            index: "", //用户列表下标
            value: "",
            search: this.$route.query.search || '', //用户搜索
            add: {
                //添加
                admin: "",
                password: "",
                phone: "",
                email: "",
            },
            rid: "", //角色id
            id: "",
            is: false,
        };
    },
    methods: {
        mylist() {
            //第一次触发用户列表数据
            return this.$http("users", "GET", {
                query: this.search,
                pagenum: 1,
                pagesize: 10,
            }).then((res) => {
                this.userlist = res.data.users;
            });
        },
        switch_set(index) {
            //switch开关
            this.$http(
                "users/" +
                    this.userlist[index].id +
                    "/state/" +
                    this.userlist[index].mg_state,
                "PUT"
            );
        },
        handleSizeChange(val) {
            //分页的每页显示数据条数
            this.pageSize = val;
            this.pageNum = 1;
            this.$http("users", "GET", {
                query: "",
                pagenum: this.pageNum,
                pagesize: this.pageSize,
            }).then((res) => {
                this.userlist = res.data.users;
                this.total = res.data.total;
            });
        },
        handleCurrentChange(val) {
            //分页切换
            this.pageNum = val;
            this.$http("users", "GET", {
                query: "",
                pagenum: val,
                pagesize: this.pageSize,
            }).then((res) => {
                this.userlist = res.data.users;
            });
        },
        handleClose(done) {
            //关闭弹窗
            done();
        },
        huo(index) {
            //点击编辑用户
            this.dialogVisible = true;
            this.index = index;
            this.edits.admin = this.userlist[index].username;
            this.edits.phone = this.userlist[index].mobile;
            this.edits.email = this.userlist[index].email;
        },
        edit(index) {
            //编辑用户
            this.dialogVisible = false;
            this.$http(
                "users/" + this.userlist[this.index].id,
                "PUT",
                {},
                { mobile: this.edits.phone, email: this.edits.email }
            ).then((res) => {
                this.userlist[this.index].email = this.edits.email;
                this.userlist[this.index].mobile = this.edits.phone;
            });
        },
        deluserlist(index) {
            //删除单个用户
            this.$confirm("是否删除改用户?", "提示", {
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                type: "warning",
            })
                .then(() => {
                    this.$http(
                        "users/" + this.userlist[index].id,
                        "DELETE"
                    ).then((res) => {
                        this.$message({
                            type: "success",
                            message: "删除成功!!!",
                        });
                        this.mylist();
                    });
                })
                .catch(() => {
                    this.$message({
                        type: "info",
                        message: "已取消删除",
                    });
                });
        },
        fenpei(index) {
            //分配用户
            this.dialogVisibles = true;
            this.index = index;
            this.value = this.userlist[index].role_name;
            this.fenpeis.admin = this.userlist[this.index].username;
            this.$http("users/" + this.userlist[index].id, "GET").then(
                (res) => {
                    this.id = res.data.id;
                    this.$store.dispatch("myroles", this)
                }
            );
        },
        valchg() {
            this.is = true;
        },
        corr() {
            this.dialogVisibles = false;
            if (!this.is) return;
            //确认分配角色
            this.$http(
                "users/" + this.id + "/role",
                "PUT",
                {},
                {
                    rid: this.value,
                }
            ).then(() => {
                this.mylist();
            });
        },
        look() {
            if (!this.search) return;
            //根据id查看用户
            this.$http(
                "users",
                "get",
                { query: this.search, pagenum: 1, pagesize: 10 },
                {}
            ).then((res) => {
                if (!res.data.users[0]) {
                    this.userlist = [];
                    return false;
                }
                this.$router.replace({'name':this.$route.name,query:{
                    search:this.search
                }})
                this.userlist.splice(0, this.userlist.length);
                this.userlist.push(res.data.users[0]);
            });
        },
        addedit() {
            if (this.add.admin && this.add.password) {
                this.$http(
                    "users",
                    "POST",
                    {},
                    {
                        username: this.add.admin,
                        password: this.add.password,
                        email: this.add.email,
                        mobile: this.add.phone,
                    }
                ).then((res) => {
                    this.dialogVisibleadd = false;
                    this.userlist.push(res.data);
                });
            }
        },
        dateFormat(row) {//转化时间戳
            return dayjs(row.create_time).format("YYYY-MM-DD HH:mm:ss");
        },
    },
    mounted() {
        this.mylist();
    },
    components: {
        MBX,
    },
};
</script>
<style scoped lang="scss">
.el-main {
    width: 100%;
    height: 91vh;
    overflow: auto;
    background-color: #e9eef3;
    color: #333;
    text-align: center;
    .sear {
        width: 360px;
        height: 40px;
        margin: 15px 0px;
        display: flex;
        justify-content: space-between;
    }
}
body > .el-container {
    margin-bottom: 40px;
}
.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}
.el-table__header-wrapper ::v-deep .el-table__header {
    text-align: center;
}
.el-table ::v-deep .el-table__header-wrapper {
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}
.users ::v-deep .cell {
    text-align: center;
}
.users ::v-deep .el-icon-edit,
.users ::v-deep .el-icon-delete,
.users ::v-deep .el-icon-check {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    color: #fff;
}
.users ::v-deep .el-icon-arrow-right,
.users ::v-deep .el-icon-arrow-left {
    color: #000;
}
.users ::v-deep .el-dialog {
    width: 600px;
    height: 370px;
    display: flex;
    flex-direction: column;
}
.users ::v-deep .el-dialog__header {
    height: 40px;
    line-height: 40px;
    text-align: left;
}
.users ::v-deep .el-dialog__body {
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    > label {
        width: 100%;
        height: 53px;
        line-height: 53px;
        display: block;
        > .el-input {
            width: 300px;
        }
    }
}
.users ::v-deep .el-dialog__footer {
    height: 80px;
    line-height: 70px;
}
.el-main ::v-deep .el-table {
    margin: 0px;
    width: 100%;
}
</style>
